<nav class="navbar is-primary">
  <div class="navbar-brand">
    <a href="#" class="navbar-item">
      <img src="http://img.food.com/fdc/img/logo/FDC-logo.svg" alt="Logo">
    </a>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a href="#" class="is-active navbar-link">
          Recipes
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item " href="#">
            Breakfast
          </a>
          <a class="navbar-item " href="#">
            Lunch
          </a>
          <a class="navbar-item " href="#">
            Dinner
          </a>
        </div>
      </div>
      <a href="" class="navbar-item is-hoverable">Testing nav</a>
      <a href="" class="navbar-item is-hoverable">Cooking videos</a>
      <a href="" class="navbar-item is-hoverable">Cooking dogs</a>
      <a href="" class="navbar-item is-hoverable">Contact</a>
    </div>
  </div>
</nav>